<a href="https://www.facebook.com/v12.0/dialog/oauth?
client_id=413295051459868
&redirect_uri=https://legal-crm.vercel.app/connected-to-fb
&scope=pages_show_list,pages_messaging,pages_manage_metadata">
  Connect to Messenger
</a>