<!-- 

<fb:login-button 
  config_id="{config_id}"
  onlogin="checkLoginState();">
</fb:login-button>

<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '413295051459868',
        cookie     : true,
        xfbml      : true,
        version    : '{api-version}'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script> -->

  

  <a href="<%= loginUrl %>"><button type="button" class="waves-effect waves-light btn btn-info mb-5 btn-xs">Connect With Facebook</button></a>